<main class="mainArticle">
    <header class="col-four">
        <p>
            Lorem ipsum dolor <a href="#">sit amet</a>, consectetur adipisicing elit. Atque aut commodi cupiditate, distinctio error hic ipsa iste iure maiores necessitatibus vel voluptate voluptatibus? Autem doloremque laudantium ut! Dolores, eius, voluptatibus.
        </p>
    </header>
</main>
