<div class="bg">
    <div class="wrapper article">
        <article class="article__content">
            <header class="article__header">
                <img src="img/artikkelbilde.jpg" class="article__header__image">
                <div class="article__header__content">
                    <time>28.mai 2015</time>
                    <h1 class="u-thin">Offshore summit:<br>
                    Utfordinger og muligheter på norsk sokkel</h1>
                    <p class="abstract">Torsdag 5. mars Med oljefunnene i Nordsjøen startet en ny æra for den tradisjonsrike næringen. I dag er den norske flåten den femte største i verden målt i verdi. Blant Kluges klienter er flere av de store norske rederiene.</p>
                </div>
            </header>
            <div class="article__main editor">
                <p class="ingress">Med oljefunnene i Nordsjøen startet en ny æra for den tradisjonsrike næringen. I dag er den norske flåten den femte største i verden målt i verdi. Blant Kluges klienter er flere av de store norske rederiene.</p>
                <p>Vi har bidratt til å utforme norsk lovgivning og har påvirket rettsutviklingen innen skipsfartsnæringen, blant annet gjennom etablering og utredning av BONA-modellen og NIS-loven.</p>
                <h3>Med fullsatt sal og rekordmange</h3>
                <p>Våre advokater har både kompetanse innen, og erfaring med, tørr og våt sjørett. Vi håndterer for eksempel transaksjoner, sjøulykker, sjøforsikring og prosedyre. Ved å samarbeide på tvers av våre kompetanseområder finner vi de beste løsningene for rederiene – enten de står overfor problemstillinger relatert til drift, organisering eller skatt.</p>
                <ul>
                    <li>Mandag 27.april</li>
                    <li>Onsdag 29. april</li>
                    <li>Onsdag 6. mai</li>
                </ul>
                <p>Våre advokater har både kompetanse innen, og erfaring med, tørr og våt sjørett. Vi håndterer for eksempel transaksjoner, sjøulykker, sjøforsikring og prosedyre. Ved å samarbeide på tvers av våre kompetanseområder finner vi de beste løsningene for rederiene – enten de står overfor problemstillinger relatert til drift, organisering eller skatt.</p>
                <figure>
                    <img src="img/artikkel_barn.jpg">
                    <figcaption>Bildetekst</figcaption>
                </figure>
            </div>

            <aside class="article__aside">
                <h4>Vil du vite mer, ta kontakt med:</h4>
                <%- partial("pageteaserPerson") %>
                <div class="u-box u-box--border b-doc">
                    <h4>Les også</h4>
                    <ul class="b-doc__list">
                        <li class="b-doc__listitem">Endringer i arbeidstid og aldersgrenser (pdf)</li>
                        <li class="b-doc__listitem">Arbeidsdepartementet forslår ubetinget adgang til midlertidig ansettelse i 12 måneder (pdf)</li>
                    </ul>
                </div>
            </aside>
        </article>
    </div>
</div>