<section class="banner">
    <img src="img/ansatte.jpg" class="banner__image">
    <div class="banner__container">
        <div class="banner__content">
            <h1>Shipping</h1>
            <p>Våre advokater har gjennom en årrekke bistått redere, verft, transportører og finansinstitusjoner med juridisk og strategisk rådgivning innenfor shipping- transport- og verftsindustrien.</p>
        </div>
    </div>
</section>