<section class="banner">
    <img src="img/ansatte.jpg" class="banner__image">
    <div class="banner__container">
        <div class="banner__content">
            <h1>Kluge</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt dolor eveniet magni ut? Accusantium doloremque enim illo laboriosam maiores natus non odit perferendis placeat praesentium quas sunt temporibus, voluptatem.</p>
        </div>
    </div>
</section>