<section class="banner" style="background-image: url(img/ansatte.jpg);">
    <div class="banner__container">
        <div class="banner__content">
            <h1 class="banner__title">Kluge</h1>
            <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt dolor eveniet magni ut? Accusantium doloremque enim illo laboriosam maiores natus non odit perferendis placeat praesentium quas sunt temporibus, voluptatem.</p>
        </div>
    </div>
</section>