<div class="bg">
    <div class="wrapper expertice">
        <h3>Bransje</h3>
        <ul class="fancy-list">
            <li><a href="">Bank og finansiering</a></li>
            <li><a href="">Bygg og enterprise</a></li>
            <li><a href="">Energi</a></li>
            <li><a href="">Offentlig sektor</a></li>
            <li><a href="">Olje og energi</a></li>
            <li><a href="">Shipping</a></li>
        </ul>
        <h3>Fag</h3>
        <ul class="fancy-list">
            <li><a href="">Corporate/M&A</a></li>
            <li><a href="">Bank og finansiering</a></li>
            <li><a href="">Børs-, verdipapirrett og Corporate governance</a></li>
            <li><a href="">Bygg og entreprise</a></li>
            <li><a href="">Skatt og avgifter</a></li>
            <li><a href="">IKT og immaterialrett</a></li>
            <li><a href="">Offentlig sektor</a></li>
            <li><a href="">Gransking</a></li>
            <li><a href="">Tvisteløsning, mekling og prosedyre</a></li>
            <li><a href="">Produktansvar</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Fast eiendom</a></li>
            <li><a href="">EØS-/ konkurranserett</a></li>
            <li><a href="">Energi</a></li>
            <li><a href="">Arbeidsrett</a></li>
        </ul>
    </div>
</div>
