<div class="wrapper">
    <h1 class="col-eight">Grid</h1>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one">.col-one</div>
    <div class="col-one last">.col-one</div>
    <div class="col-two">.col-two</div>
    <div class="col-six last">.col-six</div>
    <div class="col-five">.col-five</div>
    <div class="col-three last">.col-three</div>
    <div class="col-four">.col-four</div>
    <div class="col-four last">.col-four</div>
</div>