<div class="bg--gondola">
    <footer class="wrapper main-footer">
        <nav class="footer-nav">
            <div class="footer-nav__col">
                <h3>Bransjer</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">Bank og finansiering</a></li>
                    <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">Bygg og enterprise</a></li>
                    <li class="footer-nav__listitem" role="menuitem"><a class="footer-nav__link" href="">Energi</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Offentlig sektor</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Olje og energi</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Shipping</a></li>
                </ul>
            </div>
            <div class="footer-nav__col">
                <h3>Fag</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Corporate/M&A</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Bank og finansiering</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Børs-, verdipapirrett og Corporate governance</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Bygg og entreprise</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Skatt og avgifter</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">IKT og immaterialrett</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Offentlig sektor</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Gransking</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Tvisteløsning, mekling og prosedyre</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Produktansvar</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Shipping</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Fast eiendom</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">EØS-/ konkurranserett</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Energi</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Arbeidsrett</a></li>
                </ul>
            </div>
            <div class="footer-nav__col">
                <h3>Karriere</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Send en søknad</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Ledige stillinger</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Nyutdannet og student</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Erfarne advokater</a></li>
                </ul>
                <h3>Aktuelt</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Saker vi har løst</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Nyheter</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Kurs og seminar</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Nyhetsbrev</a></li>
                </ul>
            </div>
            <div class="footer-nav__col">
                <h3>Om Kluge</h3>
                <ul class="footer-nav__list">
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Internasjonalt</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Utmerkelser og rankings</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Kluge på ett minutt</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Kontakt oss</a></li>
                    <li class="footer-nav__listitem"><a class="footer-nav__link" href="">Samarbeidspartnere</a></li>
                </ul>
                <h3>Klugeprat</h3>
                <h3>Folk</h3>
            </div>
        </nav>
        <div class="main-footer__contact">
            <div class="main-footer__newsletter">
                Nyhetsbrev

            </div>
            <div class="main-footer__mail">
                Kontakt oss:   <a href="">Oslo</a>  |  <a href="#">Bergen</a>  |  <a href="#">Stavanger</a>  |  <a href="#">Hamar</a>
            </div>
            <div class="main-footer__share">
                <a href="https://www.facebook.com/NITONorge" class="icon-facebook-with-circle share__facebook">Facebook</a>
                <a href="https://twitter.com/_nito_" class="icon-google share__twitter">Google</a>
                <a href="https://www.linkedin.com/company/nito" class="icon-instagram share__linkedin">Instagram</a>
                <a href="https://www.linkedin.com/company/nito" class="icon-pinterest share__linkedin">Pinterest</a>
                <a href="https://www.linkedin.com/company/nito" class="icon-tumblr share__linkedin">Tumblr</a>
            </div>
        </div>
    </footer>
</div>