<article class="pt-employee">
    <img src="img/anne.jpg">
    <h3 class="pt-employee__name">Anne Hermansen Berg</h3>
    <p class="pt-employee__info">
        <span class="pt-employee__position">Jurist arbeidsrett, Privatmarkeder</span>
        <a href="" class="pt-employee__mail">anne.hermansen.berg@kluge.no</a>
        <a href="tel:92839201" class="pt-employee__tel">98 72 63 45</a>
    </p>
</article>