<div class="bg--corn">
    <section class="wrapper b-klugeprat">
        <div class="b-klugeprat__container">
            <h3>Siste fra Klugeprat</h3>
            <article class="pt-klugeprat">
                <p class="pt-klugeprat__title">– Lokal godkjenningsordning for ansvarsrett avikles</p>
                <ul class="pt-klugeprat__subjects">
                    <li><a href="#">Kapitalmarkeder</a></li>
                    <li><a href="#">Bank og finans</a></li>
                </ul>
            </article>
            <article class="pt-klugeprat">
                <p class="pt-klugeprat__title">– Endringer i ferieloven fra 1. juli 2015</p>
                <ul class="pt-klugeprat__subjects">
                    <li><a href="#">Kapitalmarkeder</a></li>
                    <li><a href="#">Bank og finans</a></li>
                </ul>
            </article>
        </div>
    </section>
</div>