<article class="pt-employee">
    <div class="pt-employee__content">
        <img src="img/arne.jpg" class="pt-employee__photo">
        <h3 class="pt-employee__name">Arne Benjaminsen</h3>
        <p class="pt-employee__info">
            <span class="pt-employee__position">Partner arbeidsrett, Kapitalmarkeder</span>
            <a href="" class="pt-employee__mail">arne.benjaminsen@kluge.no</a>
            <a href="tel:92839201" class="pt-employee__tel">98 72 63 45</a>
        </p>
     </div>
</article>