<div class="bg">
    <div class="wrapper bigquote">
        <blockquote class="jumbo">― Vi har foretatt mange oppkjøp med Kluge ved vår side, og det har alltid gått bra</blockquote>
        <cite>Bjørn Inge Gjethammer, Administrerende direktør, Tjuvholmen KS</cite>
    </div>
    <div class="wrapper pageteasers-large">
        <h3>Noe av det vi jobber med</h3>
        <div class="pt-work">
            <p class="pt-work__title u-square">Vi bistod norgeshistoriens største restrukturerings- og omplasseringsprosesser</p>
            <p class="pt-work__customer">Kunde: Oslo Universitetssykehus</p>
        </div>
        <div class="pt-work">
            <p class="pt-work__title u-square">Vi bistod norgeshistoriens største restrukturerings- og omplasseringsprosesser</p>
            <p class="pt-work__customer">Kunde: Oslo Universitetssykehus</p>
        </div>
    </div>
</div>
<%- partial('pageteaserKlugeprat.ejs') %>
