<div class="bg">
    <div class="wrapper expertice">
        <article class="expertice__content">
            <div class="expertice__main">
                <p class="ingress">Med oljefunnene i Nordsjøen startet en ny æra for den tradisjonsrike næringen. I dag er den norske flåten den femte største i verden målt i verdi. Blant Kluges klienter er flere av de store norske rederiene.</p>
                <p>Vi har bidratt til å utforme norsk lovgivning og har påvirket rettsutviklingen innen skipsfartsnæringen, blant annet gjennom etablering og utredning av BONA-modellen og NIS-loven.</p>
                <p>Våre advokater har både kompetanse innen, og erfaring med, tørr og våt sjørett. Vi håndterer for eksempel transaksjoner, sjøulykker, sjøforsikring og prosedyre. Ved å samarbeide på tvers av våre kompetanseområder finner vi de beste løsningene for rederiene – enten de står overfor problemstillinger relatert til drift, organisering eller skatt.</p>
            </div>
            <aside class="expertice__aside">
                <h3>Vil du vite mer, ta kontakt med:</h3>
                <%- partial("pageteaserPerson") %>
            </aside>
        </article>
    </div>
</div>
