.banner{
  position: relative;
  min-height: 300px;
  color: white;
  @media @small{
    min-height: 100px;
    color: @colorText;
    border-bottom: 1px solid @colorBorderLight;
  }
}

.banner__image{
  display: block;
  @media @small{
      margin-bottom: @basePadding;
  }
}

.banner__container{
  width: 100%;
  max-width: @maxWidth;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @media @small{
  position: static;
  }
}

.banner__content{
  width:100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  padding: @basePadding;
  @media @small{
     text-align: left;
      padding: 0 @basePadding/2;
      position: static;
      transform: translateY(0);
  }
  p{
    font-weight: 700;
  }
}

.banner__content--search{
  display: flex;
  justify-content: center;
  color: @colorText;
  @media @medium-up{
    padding: 0 25%;
  }
  margin: 0 auto;
  input[type=text]{
    border-right: 0;
    width:250px;
    flex-grow: 1;
  }
}