.btn, button{
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: @colorProfile;
  border: 0;
  padding: @basePadding/4 @basePadding;
}

.btn--search{
  color: @colorText;
  background-color: white;
  border: 1px solid @colorBorderLight;
}

.btn--trans{
  background-color: fade(@colorJudge, 50%);
  border: 0;
  color: white;
}

.btn--menuToggler{
  .hide-for-large();
  background-color: @colorProfile;
  color: white;
  position: fixed;
  bottom: @basePadding;
  right: @basePadding/2;
  border-radius: 50%;
  height: 50px;
  width:50px;
  z-index: 100;
  //box-shadow: 0 0 10px rgba(0,0,0,.2);
  font-size: 0;
  padding: 0;
  //transition: all .5s;
  &:before{
    display: block;
    font-size: 24px;
    transform: rotateZ(45deg);
    transition: transform .2s;
  }
  &:focus{
    outline: none;
  }
  &.activated{
    box-shadow: none;
    //color: @colorProfile;
  }
  &.activated{
    &:before{
      content: "\e60a";
      transform: rotateZ(0deg);
    }
  }
}


[class*=share]{
  font-size: 0;
  &:before{
    font-size: 24px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-right: @basePadding/4;
  }
}
