.btn{
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: @colorProfile;
  border: 0;
  padding: @basePadding/4 @basePadding;
}

.btn--search{
  color: @colorText;
  background-color: white;
  border: 1px solid @colorBorderLight;
}

.btn--menuToggler{
  .hide-for-large();
}