.employee-grid .pt-employee{
  margin-bottom: @basePadding*2;
}
.pt-employee__name{
  .trailer(.5);
}
.pt-employee__info{
  .font(@fontSize-small, .75);
}
.pt-employee__position{
  display: block;
}
.pt-employee__mail{

  display: block;
  text-decoration: underline;
  .ellipsis();
}
.pt-employee__tel{
  display: block;
}
