.employees{

}

.employees-grid{
  border-top: 1px solid @colorBorderLight;
  padding-top: @basePadding;
  margin-top: @basePadding;
}

.employees-grid__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .pt-employees__content{
    width:100%;
  }
  .pt-employee{
    .trailer(2);
    @media @large{
      width: ~"calc(25% - 15px)";
      flex-shrink: 0;
    }
    @media @medium-down{
      width: ~"calc(50% - 10px)";
      flex-shrink: 0;
    }
  }
}