.main-footer{
  background-color: @colorGondola;
  padding-top: @basePadding;
  padding-bottom: @basePadding;
  a{
    color: white;
  }
}

.footer-nav{
  color: white;
}

.footer-nav__list{
  list-style-type: none;
  padding-left: 0;
  .trailer(2);
  .font(@fontSize-small);
  a{
    color: white;
  }
}

.main-footer__contact{

}

.main-footer__newsletter{


}
.main-footer__mail{


}

.main-footer__share{


}